{% extends "layouts/base.html" %}
{% load i18n %}
{% block body_class %}signin-form{% endblock %}
{% block title %}{% trans 'Password reset successful' %}{% endblock %}
{% block content %}
    <div class="logo"><img src="{% static 'img/logo.png' %}"  alt="" /></div>
	<div class="content">
 		<h3 class="form-title">{% trans 'Password reset successful' %}</h3>
		<p class="description">{% trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}</p>
	</div>
{% endblock %}
