{% load i18n %}
{% autoescape off %}
    Recibes este correo electrónico porqué has solicitado restablecer tu clave
    para tu cuenta en {{ website_name }}.

    Por favor, vaya a la página siguiente y escoja una nueva contraseña.

    {% block reset_link %}{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}{% endblock %}

    Su nombre de usuario, en caso de haberlo olvidado: {{ user.get_username }}

    ¡Gracias por usar nuestro sitio!

    El equipo de {{ website_name }}.
{% endautoescape %}
