{% extends 'layouts/base.html' %}
{% load i18n crispy_forms_tags %}
{% load static from staticfiles %}
{% block title %}{% trans 'Password reset complete' %}{% endblock %}
{% block body_class %}signin-form{% endblock %}
{% block content %}
	<div class="logo"><img src="{% static 'img/logo.png' %}"  alt="" /></div>
	<div class="content">
		<h3 class="form-title">{% trans 'Password reset complete' %}</h3>
		<p class="description">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
		<a classs="btn btn-block btn-success btn-lg" href="{{ login_url }}">{% trans 'Log in' %}</a><br>
	</div>
{% endblock %}