body{
	background: rgba(0,0,0,.2);
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
	max-width: 1200px;
}
header{
	position: relative;
	padding: .5em;
	text-align: left;
}
header, footer{
	background: #FF005A;
	color: white;
}
footer ul{
	list-style: none;
}
footer ul li{
	display: inline-block;
	margin: 0 2em 0 0;
}
footer li a{
	color: #eee;
	display: inline-block;
	padding: 0.5em 0;
	text-decoration: none;
}
footer li a:hover{
	text-transform: uppercase;
}

figure{
	display: inline-block;
}
figure div{
	overflow: hidden;
}
figure img{
	-webkit-transition: .25s;
}
figure #ins1:hover{
	-webkit-transform: scale(3.5) translate(-10px,-5px);
}
figure #ins2:hover{
	-webkit-transform: scale(3) translate(110px,10px);
}
figure #ins3:hover{
	-webkit-transform: scale(3.5) translate(100px,70px);
}
#instruccion article figure{
	display: inline-block;
	width: 30%;
}
#instruccion article figure img{
	width: 100%;
}

#sample{
	background: rgba(0,0,0,.3);
	position: absolute;
	right: 0;
	top: 0;
}
#sample a{
	color: white;
	text-decoration: none;
}
#sample img{
	border-radius: 50%;
}

#menu{
	background: #323e4a;
}
#menu a{
	color: white;
	display: inline-block;
	margin-left: 1em;
	text-decoration: none;
	vertical-align: top;
}

section{
	background: #eaeaea;
	margin: 1em 0;
	padding: 1em 0;
}


/*estilos para el generador*/
#contain-table{
	height: auto;
	padding: 1em 100px;
}
.rowgen{
	margin-top: .2em;
	display: table-row;
}
.rowgen div{
	background: #dedede;
	border: solid .15em white;
	cursor: pointer;
	display: table-cell;
	height: 3.5em;
	margin: .1em;
	padding: .25em 0;
	vertical-align: middle;
	width: 89px;
}
.rowgen .hora{
	background: #e74c3c;
	color: #eee;
	transition: .25s linear;
}
.rowgen .hora:hover{
	background: #ec7063;
}
.rowgen .dia{
	background: #1ABC9C;
	cursor: default;
}
.wrap_gen section{
	display: inline-block;
	vertical-align: top;
	padding: 1em;
}
.inline .materia{
	display: inline-block;
	vertical-align: top;
	padding-right: 2em;
}

.horario{
	text-align: center;
}
.btn_login *{
	display: inline-block;
}
.col-md-5{
	background: white;
	border: 2px solid #7F8C8D;
	border-radius: 5px;
	padding: 1em 0;
	margin: .5em 47.5px;
}

.powered img{
	display: inline-block;
}