
/*notification*/
.user-nav  {
	padding: 0 12px 0 0;
	.dropdown-toggle {
		padding: 7px 12px 8px 12px;
		.user-avatar {
			width: 35px;
			height: 35px;
			margin-right: 8px;
			@include border-radius($nav-border-radius);
		}
	}
	li {
		.btn {
			border: 2px solid $darken;
			display: inline-block;
			padding: 7px 10px;
			margin-top: 6px;
			@include transition(all .3s ease);
		}
		.btn:hover {
			background-color: #000 !important;
		}
	}
	.dropdown-menu  {
	    padding: 0;
	    width: 260px;
		.log-arrow-up {
		    background: url("../img/arrow-up.png") no-repeat;
		    width: 20px;
		    height: 11px;
		    position: absolute;
		    right: 20px;
		    top: -10px;
		}

		li {
		    float: left;
		    text-align: center;
		    width: 33.3%;

			a {
			    // border-bottom: 1px solid #EBEBEB !important;
			    color: gray;
			    display: inline-block;
			    font-size: 12px;
			    list-style: none;
			    padding: 15px 10px;
			    width: 100%;
			    @include transition(all .3s ease);

			    i {
			    	font-size: 20px;
			    	display: block;
			    }
			}
			a:hover {
			    background-color: #efefef;
			    color: $darken;
			    @include transition(.25s);
			}
		}

		li:last-child {
		    border-radius: 0 0 5px 5px;
		    float: left;
		    color: white;
		    text-align: center;
		    background: $darken;
		    width: 100%;
		    a {
		    	color: white;
		    }
		    a:hover {
		    	background: lighten($darken, 10%);
		    	border-radius: 0 0 5px 5px;
		    }
		}
	}

	.search {
		background-color: transparent;
		background-image: url(../img/search-icon.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	    border: none;
	    box-shadow: none;
	    height: 40px;
	    margin-top: 5px;
	    padding: 0 5px 0 35px;
	    width: 35px;
	    @include transition(all .3s ease);
	}

	.search:focus {
	    color: #c8c8c8;
	    border: 3px solid #424242;
	    box-shadow: none;
	    font-weight: 300;
	    width: 200px;
	}

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    .dropdown-menu   {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176);
    };
}



